@font-face {
    font-family: "Meslo LG M Regular for Powerline";
    src: local("Meslo LG M Regular for Powerline"),
        url("./fonts/Meslo LG M Regular for Powerline.ttf") format("truetype");
}

* {
    font-family: "Meslo LG M Regular for Powerline";
    font-size: small;
}
